h1 {
    color:#8ca49c
}
.empty {
    width: 50px;
    height: 43px;
    margin: auto;
    background-color:rgb(226, 226, 226);
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(27, 27, 27);
    font-size: 2em;
    padding-top: 7px;
    text-align: center;
}
.in-place {
    width: 50px;
    height: 43px;
    margin: auto;
    background-color: #8fb092;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2em;
    padding-top: 7px;
    text-align: center;
}
.wrong-place {
    width: 50px;
    height: 43px;
    margin: auto;
    background-color: #b6a56e;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2em;
    padding-top: 7px;
    text-align: center;
}
.absent {
    width: 50px;
    height: 43px;
    margin: auto;
    background-color: #959ba0;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2em;
    padding-top: 7px;
    text-align: center;
}
.guesses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: min-content;
    gap: 10px;
    margin-bottom: 10px;

}
.first-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: min-content;
    gap: 3px;
}
.second-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: min-content;
    margin-left: 15px;
    gap: 3px;
}
.third-row {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr;
    max-width: min-content;
    gap: 3px;
}
.letter {
    width: 20px;
    height: 40px;
    border-radius: 3px;
    padding: 2px;
    margin: 2px;
}